body {
  margin: 0;
  padding: 0;
  --colorBlue: #083d77;
  --colorRed: rgba(255, 62, 65, 1);
  --colorGrey: rgba(74, 74, 74, 1);
  --colorDarkerGrey: rgba(34, 34, 34, 1);
  --colorWhite: rgba(238, 245, 219, 1);
}
.navigation-bar {
  background-color: var(--colorDarkerGrey);
  width: 100%;
  text-align: center;
  border-radius: 6px;
  margin: 10px 0px;
}

.navigation-bar .login-container {
  padding: 10px;
}

.navigation-bar .login-container input {
  margin: 5px;
  padding: 6px;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  color: white;
  border: 2px solid white;
}

.navigation-bar .login-container button {
  border-radius: 6px;
  width: 100px;
  padding: 6px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s all;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  color: white;
}

.navigation-bar .login-container button:hover {
  background-color: white;
  color: black;
}

.navigation-bar .navigation-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px auto;
  padding-bottom: 10px;
}

.navigation-bar .navigation-container .logo-container {
  display: flex;
  color: white;
  justify-content: space-between;

  height: 70px;
}
.navigation-bar .navigation-container .logo-container p {
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 70px;
  margin-right: 10px;
}

.navigation-bar .navigation-container .logo-container img {
  height: 100%;
}

.navigation-container ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  display: inline-block;
}

.navigation-container li {
  list-style-type: none;
  padding: 0px;

  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 5px 15px;
  transition: 0.5s all;
}
.navigation-bar li a:hover {
  color: black;
  background-color: white;
}
.flaticon {
  margin-right: 8px;
}
.flaticon:hover {
  color: black;
}

.hidden {
  display: none;
}
.login-info {
  margin: 0;
  color: red;
}
.info {
  margin: 10px;

  color: white;
}
