* {
	--colorBlue: #083d77;
	--colorRed: rgba(255, 62, 65, 1);
	--colorGrey: rgba(74, 74, 74, 0.5);
	--colorDarkerGrey: rgba(34, 34, 34, 1);
	--colorWhite: rgba(238, 245, 219, 1);
}
.tasks-container {
	background-color: #333333;
	margin: 10px;
	padding: 10px;
}
.tasks-container .task-container {
	box-sizing: border-box;
	background-color: #444444;

	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	margin-bottom: 5px;
	color: #e7e7e7;
}

.tasks-container .task-container .task-content {
	display: flex;
	justify-content: space-between;
}

.tasks-container .task-container .task-content .task-details-container {
	flex-grow: 1;
}

div.tasks-container .buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.task-container .buttons-container .button {
	cursor: pointer;
	text-align: center;
	padding: 1px;
	color: #e7e7e7;
	font-size: 15px;
	transition: .5s all;
}
.task-container .buttons-container .button:hover {
	border: 0px solid black;
}

.task-container .task-content .input,
.task-container .task-content .text-area {
	background-color: transparent;
	opacity: .7;
	outline: none;

	font-family: Arial, Helvetica, sans-serif;

	border: none;
	padding: 2px;
	margin: 1px;
	color: #e7e7e7;
	font-size: 20px;
}
.task-container .task-content .text-area {
	display: block;
	font-size: 15px;
	max-height: 114px;
	width: 100%;
}
.task-container .task-content .input:focus,
.task-container .task-content .text-area:focus {
	margin: 1px;
}
.task-container .task-content .input:hover,
.task-container .task-content .text-area:hover {
	cursor: pointer;
}
