.task-container {
	box-sizing: border-box;
	background-color: #7c7c7c;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	margin: 10px;
	color: #ddf2eb;
	display: flex;
	justify-content: space-between;
}
.task-container .task-title,
.task-container .task-text {
	opacity: .7;
}
.task-container .buttons-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.task-container .buttons-container .button {
	cursor: pointer;
	text-align: center;
	padding: 1px;
	border: 1px solid white;
	font-size: 15px;
	transition: .5s all;
}
.task-container .buttons-container .button:hover {
	border: 1px solid black;
	color: black;
}
.task-container .task-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.task-container .task-content .input,
.task-container .task-content .text-area {
	opacity: .7;
	outline: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #7c7c7c;
	border: none;
	padding: 2px;
	margin: 1px;

	color: #ddf2eb;
	font-size: 20px;
	width: 100%;
}
.task-container .task-content .text-area {
	display: block;
	font-size: 15px;
	max-height: 114px;

	font-weight: inherit;
	overflow: hidden;
}
.task-container .task-content .input:focus,
.task-container .task-content .text-area:focus {
	border: 1px solid #ddf2eb;
	margin: 0;
}
.task-container .task-content .input:hover,
.task-container .task-content .text-area:hover {
	background-color: #a7bed3;
	cursor: pointer;
}
.task-container .category-circle:hover {
	cursor: pointer;
}
.task-container .category-circle {
	min-width: 24px;
	min-height: 24px;
	background-color: red;
	border-radius: 50%;
	border: 3px solid black;
	margin-right: 10px;
}
